<%= content_for(:no_container){ "true" } %>
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Trouvez l'emploi qui <i>vous</i> convient.
      </h1>
      <h2 class="subtitle">
        C'est simple, rapide et efficace.
      </h2>
    </div>
  </div>
</section>
