<%= content_for(:no_container){ "true" } %>
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Trouvez l'emploi qui <i>vous</i> convient.
      </h1>
      <h2 class="subtitle">
        C'est simple, rapide et efficace.
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="container">
      <div class="columns">
        <div class="column card" style="margin: 10px; border-radius: 5px;">
          <div class="card-content">
            <p class="title is-4">Formation</p>
            <hr>
            <input type="text" list="metiers" class="input is-rounded" placeholder="Ajoutez vos formations et certifications"><br><br>
            <div class="select is-rounded">
              <select>
                <option>Niveau d'études</option>
                <option>Aucune diplôme</option>
                <option>Bac</option>
                <option>Bac+2</option>
                <option>Bac+3</option>
                <option>License</option>
                <option>Master</option>
              </select>
            </div>
            <div class="content">
              <ul>
                <li>Bac STI2D</li>
                <li>Certification SEP</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="column card" style="margin: 10px; border-radius: 5px;">
          <div class="card-content">
            <p class="title is-4">Experiences</p>
            <hr>
            <input type="text" list="metiers" class="input is-rounded" placeholder="Ajoutez vos expériences professionnelles">
            <div class="content">
              <ul>
                <li>Stage de 6 mois chez AutoPro</li>
                <li>CDD AutoPro, 1 an</li>
                <li>CDI Nauroto, 3 ans et demi</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="columns">
        <div class="column card" style="margin: 10px; border-radius: 5px;">
          <div class="card-content">
            <p class="title is-4">Compétences</p>
            <hr>
            <input type="text" list="metiers" class="input is-rounded" placeholder="Ajoutez vos compétences (recherche par métiers, domaines ou compétences précises)">
            <div class="content">
              <ul>
            <div class="list-item"><input type="radio"> <input type="radio"> <input type="radio"> <input type="radio"> <input type="radio"><label class="checkbox">Techniques de soudure </label> </div>
            <div class="list-item"><input type="radio"> <input type="radio"> <input type="radio"> <input type="radio"> <input type="radio"><label class="checkbox">Techniques de tolerie </label> </div>
            <div class="list-item"><input type="radio"> <input type="radio"> <input type="radio"> <input type="radio"> <input type="radio"><label class="checkbox">Changer ou reparer des moteurs </label> </div>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
</section>
